.logoBox a {
  display: inline-block;
  margin-left: auto;
}

.tabList h5 {
  font-weight: 500;
}

.magazineList li img {
  margin: auto;
}

.musicList ol li a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.searchbox-list {
  margin: 0;
  padding: 0;
}
.relative-list {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .relative-list {
    gap: 10px;
  }
}

.relative-list-col {
  flex-direction: column;
}

.relative-list img {
  max-width: 28px !important;
}

.hpBtn li {
  margin: 0;
}

.child .hpBtn li:nth-child(4) a {
  background: url(https://futuredata.cwgv.com.tw/public/assets/img/hpBtn_child03.png);
  background-size: contain;
}

.child .hpBtn li:nth-child(4) a:hover {
  background: url(https://futuredata.cwgv.com.tw/public/assets/img/hpBtn_child03_hover.png);
  background-size: contain;
}

.musicList ol li {
  width: 100%;
}

.infoItem {
  overflow: inherit;
}

