<header>
  <div
    class="mx-auto flex max-w-[1200px] items-center justify-between gap-3 p-5 px-4"
  >
    <div>
      <div class="flex flex-nowrap gap-2 text-xs">
        <a href="#" class="rounded-full bg-gray-800 px-2 py-1 text-white"
          >地球</a
        >
        <a href="#" class="rounded-full bg-gray-800 px-2 py-1 text-white"
          >植物</a
        >
        <a href="#" class="rounded-full bg-gray-800 px-2 py-1 text-white"
          >很長很長的關鍵字</a
        >
        <a href="#" class="rounded-full bg-gray-800 px-2 py-1 text-white"
          >五個字可以</a
        >
      </div>
      <div class="relative mt-2 rounded-full">
        <form role="form" class="relative flex rounded-full bg-gray-800 p-1">
          <input
            type="text"
            placeholder="關鍵字全文檢索"
            class="flex-1 rounded-full px-3 py-2 pe-20 text-gray-700 focus:outline-none"
          />
          <button
            class="absolute right-0 rounded-full bg-gray-800 px-6 py-3 font-semibold text-white"
          >
            <img
              width="20"
              src="https://static-00.iconduck.com/assets.00/search-icon-2044x2048-psdrpqwp.png"
              alt=""
            />
          </button>
        </form>
      </div>
    </div>
    <h1>
      <img
        class="max-f-full"
        width="200"
        src="assets/img/logo.png"
        alt="logo"
      />
    </h1>
  </div>
</header>
