<head>
  <meta charset="utf-8" />
  <title>未來兒童</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
  />
  <!-- <meta name="author" content="kyart.com.tw"> -->
  <meta name="description" content="未來兒童" />
  <meta name="keywords" content="未來兒童" />
  <meta name="title" content="未來兒童知識庫 │ 未來兒童知識庫" />
  <meta
    name="description"
    content="給孩子多更多！《未來兒童》結合數位與紙本的多媒體閱讀，百期精彩內容都能無限次閱讀，隨時翻閱查看！打破知識閱讀疆界，讓孩子走到哪就讀到哪。"
  />
  <!-- fb -->
  <meta name="fb_admins_meta_tag" content="未來兒童" />
  <!-- icons -->
  <meta name="application-name" content="未來兒童" />
  <meta name="msapplication-TileColor" content="#00A7DE" />
  <meta
    name="msapplication-square70x70logo"
    content="https://futuredata.cwgv.com.tw/public/assets/img/ico/child/msapplication-tiny.png"
  />
  <meta
    name="msapplication-square150x150logo"
    content="https://futuredata.cwgv.com.tw/public/assets/img/ico/child/msapplication-square.png"
  />
  <meta
    name="msapplication-wide310x150logo"
    content="https://futuredata.cwgv.com.tw/public/assets/img/ico/child/msapplication-wide.png"
  />
  <meta
    name="msapplication-square310x310logo"
    content="https://futuredata.cwgv.com.tw/public/assets/img/ico/child/msapplication-large.png"
  />

  <link
    rel="shortcut icon"
    href="https://futuredata.cwgv.com.tw/public/assets/img/ico/child/favicon.ico"
  />
  <link
    rel="icon"
    sizes="16x16 32x32 64x64"
    href="https://futuredata.cwgv.com.tw/public/assets/img/ico/child/favicon.ico"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="196x196"
    href="https://futuredata.cwgv.com.tw/public/assets/img/ico/child/favicon-196.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="160x160"
    href="https://futuredata.cwgv.com.tw/public/assets/img/ico/child/favicon-160.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="96x96"
    href="https://futuredata.cwgv.com.tw/public/assets/img/ico/child/favicon-96.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="64x64"
    href="https://futuredata.cwgv.com.tw/public/assets/img/ico/child/favicon-64.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="https://futuredata.cwgv.com.tw/public/assets/img/ico/child/favicon-32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="https://futuredata.cwgv.com.tw/public/assets/img/ico/child/favicon-16.png"
  />
  <link
    rel="apple-touch-icon"
    href="https://futuredata.cwgv.com.tw/public/assets/img/ico/child/favicon-57.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="114x114"
    href="https://futuredata.cwgv.com.tw/public/assets/img/ico/child/favicon-114.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="72x72"
    href="https://futuredata.cwgv.com.tw/public/assets/img/ico/child/favicon-72.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="144x144"
    href="https://futuredata.cwgv.com.tw/public/assets/img/ico/child/favicon-144.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="60x60"
    href="https://futuredata.cwgv.com.tw/public/assets/img/ico/child/favicon-60.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="120x120"
    href="https://futuredata.cwgv.com.tw/public/assets/img/ico/child/favicon-120.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="76x76"
    href="https://futuredata.cwgv.com.tw/public/assets/img/ico/child/favicon-76.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="152x152"
    href="https://futuredata.cwgv.com.tw/public/assets/img/ico/child/favicon-152.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="https://futuredata.cwgv.com.tw/public/assets/img/ico/child/favicon-180.png"
  />
  <!-- Bootstrap core CSS -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
  />
  <!-- Plugins CSS -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/jquery.mcustomscrollbar/3.0.6/jquery.mCustomScrollbar.min.css"
  />
  <link
    rel="stylesheet"
    href="https://futuredata.cwgv.com.tw/public/assets/css/icomoon/style.css"
  />
  <link
    rel="stylesheet"
    href="https://futuredata.cwgv.com.tw/public/assets/css/icheck-bootstrap.min.css"
  />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>

  <!-- Theme CSS -->
  <link
    rel="stylesheet"
    href="https://futuredata.cwgv.com.tw/public/assets/css/style.css"
  />
  <link
    rel="stylesheet"
    href="https://futuredata.cwgv.com.tw/public/assets/css/style_rs.css"
  />

  <!-- 舊有的 js 本來在 body 後 暫時放上面-->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.js"></script>
  <script src="https://futuredata.cwgv.com.tw/public/assets/plugins/jquery.showmore.min.js"></script>
  <script src="https://futuredata.cwgv.com.tw/public/assets/js/script.js"></script>

  <!-- 新加的 style -->
  <link rel="stylesheet" href="../../assets/css/junior-main.css" />
  <link rel="stylesheet" href="../../assets/css/origin-main.css" />
</head>
