<div class="headerBox">
  <p style="background: none !important">繪圖：程宜方Yifun</p>
  <div class="bg">
    <img
      src="https://futuredata.cwgv.com.tw/public/assets/img/header_child.png"
      alt=""
      class="header"
    />
    <img
      src="https://futuredata.cwgv.com.tw/public/assets/img/header_child_fixed.png"
      alt=""
      class="headerfixed"
    />
    <img
      src="https://futuredata.cwgv.com.tw/public/assets/img/header_child_mobile.png"
      alt=""
      class="headerMobile"
    />
    <img
      src="https://futuredata.cwgv.com.tw/public/assets/img/header_child_fixed_mobile.png"
      alt=""
      class="headerfixedMobile"
    />
  </div>
  <div class="logoBox">
    <div class="container">
      <a href="https://futuredata.cwgv.com.tw/junior" target="_blank"
        ><img
          src="https://futuredata.cwgv.com.tw/public/assets/img/ico/gkids/favicon-180.png"
          alt=""
      /></a>
      <!--<img src="https://futuredata.cwgv.com.tw/public/assets/img/ico/child/favicon-180.png" alt="">-->
    </div>
  </div>
</div>
<nav>
  <ul class="menuList">
    <li>
      <a href="javascript:void" title="" id="menuBtn"
        ><i class="icon-menu"></i
      ></a>
    </li>
    <li>
      <a href="https://futuredata.cwgv.com.tw/member/index/junior" title=""
        ><i class="icon-man"></i
      ></a>
    </li>
    <li>
      <a href="javascript:void" title="" class="searchBtn"
        ><i class="icon-search"></i
      ></a>
      <div class="navSearch">
        <form
          action="https://futuredata.cwgv.com.tw/junior/searchList/index"
          method="post"
        >
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              name="searchText"
              placeholder="關鍵字全文檢索"
            />
            <button class="btn btn-default buttonStyle" type="submit">
              快速搜尋
            </button>
          </div>
        </form>
        <!--
          <p>還找不到你要的文章，試試<a href="">全庫檢索</a></p>
          <button type="button" class="closeBtnStyle"><i class="icon-close"></i></button>
          -->
      </div>
    </li>
    <li>
      <a href="https://futuredata.cwgv.com.tw/junior" title=""
        ><i class="icon-home"></i
      ></a>
    </li>
    <li>
      <a
        href="https://parenting.cwgv.com.tw/topic/MYMJ/2022data/index.html"
        title=""
        target="_blank"
        ><img
          src="https://futuredata.cwgv.com.tw/public/assets\img\icon\icon-question.png"
          class="menu-icon"
      /></a>
    </li>
  </ul>
</nav>
