/*content*/
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mainmenu.fixed .content-section {
  margin-bottom: 200px;
}

/*header*/
.memberHeader .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  border-bottom: 5px solid #ea5413;
}

/*footer*/
.mainmenu.fixed .footerDownBox.memberFooter {
  position: fixed;
  width: 100%;
  bottom: 0;
}
.footerDownBox.memberFooter h5 {
  color: #fff;
  margin: 0;
  margin: 0 0 10px 0;
  font-size: 15px;
}
.footerDownBox.memberFooter ul {
  margin: 0 0 10px 0;
}
.footerDownBox .footerDown li a {
  font-size: 15px;
}
.footerDownBox.memberFooter span {
  color: #fff;
  font-size: 15px;
}

/*login*/
.loginbox p {
  color: #777;
  font-size: 15px;
}
.loginbox h1 {
  font-size: 26px;
  margin-bottom: 1rem;
}
.loginbox .longincontainer {
  max-width: 450px;
  margin: 40px auto 0;
}
.loginbox form .input-group {
  border: 1px solid #777;
  width: 100%;
  margin: 0 auto 15px;
}
.loginbox form .input-group input {
  border: none;
  display: table-cell;
  width: 100%;
  padding: 8px 10px;
}
.loginbox form .input-group a {
  display: table-cell;
}
.loginbox form .codebox {
  display: flex;
  align-items: center;
}
.loginbox form .leftbox {
  width: 40%;
  float: left;
  text-align: left;
  padding-right: 10px;
}
.loginbox form .leftbox img {
  margin-bottom: 15px;
}
.loginbox form .rightbox {
  width: 60%;
  float: right;
  padding-left: 10px;
}
.loginbox form .codebox a {
  width: 100%;
  text-align: right;
  padding: 0;
  color: #777;
}
.loginbox form .btnseepassword i {
  color: #333;
  font-size: 22px;
  font-family: "kyicon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.loginbox form .btnseepassword.ds-yes i:before {
  content: "\e8f4";
}
.loginbox form .btnseepassword.ds-no i:before {
  content: "\e8f5";
}
.btngrayext {
  color: #777;
}
.loginbox .btngrayext {
  width: 100%;
  text-align: right;
  padding: 0;
  font-size: 15px;
}
.btnorange {
  background-color: #ea5413;
  color: #fff;
}
.btnorange:hover {
  color: #fff;
  opacity: 0.8;
}
.loginbox .btnorange {
  width: 100%;
  /* margin: 10px 0; */
  padding: 10px 12px;
  font-size: 15px;
}
.loginbox .btnorange:focus {
  color: #fff;
}
.loginbox ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 2rem auto;
}
.loginbox ul li a {
  border-right: 1px solid #777;
  padding: 0 5px;
  color: #777;
}
.loginbox ul li:last-child a {
  border-right: none;
}
.socialmediaLogin .opensocialmediabox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 0;
}
.socialmediaLogin .opensocialmedia {
  display: block;
  position: relative;
}
.socialmediaLogin .opensocialmedia span.plus:before {
  content: "+";
  position: absolute;
  left: -40px;
  top: -5px;
  background-color: #ea5413;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: block;
  color: #fff;
  font-size: 20px;
}
.socialmediaLogin .opensocialmedia span.plus {
  color: #777;
}
.socialmediaLogin .socialmedia .card {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.socialmediaLogin .socialmedia .btnFB {
  background-color: #386092;
  color: #fff;
  width: 45%;
  margin-right: 10px;
  padding: 10px 12px;
  font-size: 15px;
}
.socialmediaLogin .socialmedia .btnGoogle {
  background-color: #c10000;
  color: #fff;
  width: 45%;
  margin-left: 10px;
  padding: 10px 12px;
  font-size: 15px;
}

/*mamber page*/
.orange {
  color: #ea5413;
}
.leftContainer {
  width: 300px;
  float: left;
}
.rightContainer {
  width: calc(100% - 300px);
  float: right;
}
.membermenu-s {
  display: none;
}
.member {
  display: flex;
  align-items: center;
  padding: 20px 0 30px;
}
.member h4 {
  color: #ea5413;
  font-size: 24px;
  padding-left: 10px;
}
.member .imgholder {
  max-width: 70px;
}
.menulist ul {
  list-style: none;
  padding: 0;
}
.menulist ul li.new a:after {
  content: "N";
  width: 30px;
  height: 30px;
  background-color: #ea5413;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 15px;
  padding: 3px;
  position: absolute;
  right: -40px;
}
.menulist ul li {
  padding: 5px 0;
}
.menulist ul li a {
  font-size: 18px;
  color: #777;
  position: relative;
  display: inline-block;
  margin-right: 50px;
}
.menulist ul li a:hover,
.menulist ul li.active a {
  color: #ea5413;
}
.contentContainer {
  padding-top: 40px;
}
.contentContainer h1 {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 0 0 20px;
}
.contentContainer img {
  width: 100%;
}
.contentContainer a:hover .imgholder img {
  /*transform: scale(1.3, 1.3);-ms-transform: scale(1.3, 1.3);-moz-transform: scale(1.3, 1.3);-webkit-transform: scale(1.3, 1.3);-o-transform: scale(1.3, 1.3);*/
}
.noticeItem {
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #ea5413;
}
.noticeItem .itemLeft {
  width: 280px;
  float: left;
}
.noticeItem .itemright {
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 280px);
  float: right;
  padding: 5px 0 0 30px;
}
.noticeItem .itemright .iteminfo {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  align-items: center;
}
.noticeItem h2 a {
  font-size: 22px;
  color: #777;
  margin: 0 0 15px 0;
  display: block;
}
.noticeItem p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  max-height: 70px;
}
.noticeItem p a {
  color: #777;
  text-align: justify;
}
.noticeItem .date {
  color: #777;
}
.noticeItem .btnorange {
  border-radius: 0;
  padding: 6px 20px;
  font-size: 15px;
}
.noticeItem .btnorange:focus {
  color: #fff;
}

.contentContainer .nav-tabs {
  border-bottom: none;
}
.contentContainer .nav-tabs .nav-item a {
  border: 2px solid #ea5413;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  background-color: #ea5413;
  color: #fff;
  position: relative;
}
.contentContainer .tab-content {
  border: 2px solid #ea5413;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.contentContainer .nav-tabs > li.active > a,
.contentContainer .nav-tabs > li.active > a:hover {
  opacity: 1;
  border: 2px solid #ea5413;
  border-bottom: none;
  background-color: #fff;
  color: #777;
}
.contentContainer .nav > li > a:hover {
  opacity: 0.8;
}
.contentContainer .nav-tabs > li.active > a:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.coupon-box {
  padding: 0 15px;
}
.coupon-table {
  padding: 15px 0;
}
.coupon-table table {
  color: #777;
  text-align: center;
  font-size: 15px;
}
.coupon-table table th {
  text-align: center;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 15px 8px;
  border-top: none;
  border-bottom: 2px solid #ddd;
}
.table > thead > tr > th {
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 18px;
}
.no-coupon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
}
.no-coupon img {
  width: 80px;
}
.no-coupon p {
  padding-top: 15px;
  color: #777;
}

/*form*/
.form-control {
  color: #777;
  font-weight: 400 !important;
  box-shadow: none;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 0.375rem 5px;
  font-size: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Noto Sans", "Noto Sans TC", sans-serif !important;
}
.form-control:focus {
  border-color: #ea5413;
  box-shadow: none;
}
.inline-input-group {
  text-align: center;
}
.inline-input-group .btn-save .btn-orange {
  width: 200px;
  background-color: #ea5413;
  color: #fff;
  border-radius: 0;
  padding: 10px;
  font-size: 1.2em;
  margin-top: 20px;
}
.inline-input-group .btn-save .btn-orange:hover {
  opacity: 0.8;
}
.group-rc-input {
  display: flex;
  width: 100%;
  border-bottom: 2px solid #ccc;
  align-items: center;
  padding-top: 3px;
}
.group-rc-input > .form-check {
  display: flex;
  flex: 1 1 auto;
  padding: 2px;
  margin-bottom: 0;
}
.group-rc-input > .form-check:last-child {
  border-right: none;
}
.group-rc-input > .form-check label {
  display: block;
  position: relative;
  text-align: center;
  padding: 0;
  color: #777;
  width: 100%;
  font-weight: 500;
}
.group-rc-input > .form-check label .checkmark {
  position: absolute;
  width: 100%;
  z-index: 0;
  border: none;
  height: 2px;
  border-radius: 0;
  top: auto;
  left: 0;
  bottom: -4px;
  transition: 0.2s all ease;
}
.group-rc-input > .form-check input:checked ~ .checkmark {
  background-color: #dd5000;
}
.group-rc-input > .form-check input:checked ~ .checkmark:after {
  display: none;
}
.group-rc-input.type-2 > .form-check label {
  padding: 4px;
}
.group-rc-input.type-2 > .form-check {
  border-right: 1px solid #ddd;
}
.group-rc-input.type-2 > .form-check:last-child {
  border-right: none;
}
.form-check {
  position: relative;
  padding-left: 35px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 1rem;
  color: #878787;
}
.form-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
label.custom-check {
  margin-bottom: 0px;
  font-size: 18px;
  display: flex;
  white-space: nowrap;
  align-items: flex-start;
  flex-wrap: wrap;
}
.form-group01 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between; /*padding: 0;*/
  color: #777;
}
.form-group02 {
  display: flex;
  align-items: center;
  justify-content: space-between; /*padding: 0;*/
  color: #777;
}
.form-group02 label {
  padding: 0.375rem 0;
  margin-right: 10px;
  margin-bottom: 0;
  font-size: 18px;
  color: #333;
  font-weight: 400;
}
.form-group02 input {
  width: calc(100% - 100px);
}
.form-group02 .date-group input {
  width: 48%;
}
.form-group03 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  color: #777;
  flex-wrap: wrap;
}
.form-group03 label {
  padding: 0.375rem 0;
  margin-right: 10px;
  margin-bottom: 0;
  font-size: 18px;
  color: #333;
  font-weight: 400;
}
.form-group03 .date-group input {
  width: 48%;
}
.form-group04 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 15px;
  color: #777;
  flex-wrap: wrap;
}
.form-group04 label {
  margin-right: 10px;
}
.form-group04 .date-group input {
  width: 48%;
}
.date-group {
  width: calc(100% - 100px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 0;
  color: #777;
}
.date-group select {
  width: 45%;
}
.form-group03 .date-group {
  padding: 0 15px 0 0;
}
.form-container p {
  margin-top: 10px;
  font-size: 12px;
}
.form-check input.form-check-input {
  margin-top: 0.3rem;
  margin-left: -1.25rem;
}
.inline-input-group .btn-save {
  margin: 50px 0 20px;
}
select.select-arrow {
  background-image: url(../img/icon_select-02.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 16px 16px;
  color: #777;
  padding-right: 15px;
}
.label-s {
  font-weight: 400;
  font-size: 12px;
  color: #ccc;
}
.child-box {
  padding-top: 22px;
}

/*IEéš±è—ç®­é ­æ¨£å¼*/
select.select-arrow::-ms-expand {
  display: none;
}

@media (max-width: 991px) {
  .leftContainer {
    width: 200px;
  }
  .rightContainer {
    width: calc(100% - 200px);
  }
  .member {
    padding: 30px 0 20px;
  }
  .member .imgholder {
    max-width: 50px;
  }
  .noticeItem .itemLeft {
    width: 180px;
  }
  .noticeItem .itemright {
    width: calc(100% - 180px);
  }
  .noticeItem .itemright .iteminfo {
    padding-top: 0;
  }

  .form-group01 {
    padding: 0 15px;
  }
  .form-group03 .date-group {
    padding: 0;
  }
  .form-group04 {
    padding: 0;
    margin-top: 10px;
  }
  .col-12 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .membermenu-s {
    display: block;
    overflow: hidden;
    box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.05);
  }
  .membermenu {
    display: none;
  }
  .member {
    width: 120px;
    float: left;
    padding: 10px 5px;
    border-right: 2px solid #ea5413;
  }
  .member .imgholder {
    max-width: 30px;
  }
  .member h4 {
    font-size: 18px;
    padding-left: 3px;
  }
  .menulist ul {
    display: inline-block;
    width: calc(100% - 120px);
    margin: 0;
    padding: 10px 5px;
  }
  .menulist ul li {
    margin-bottom: 0;
    padding: 2px 5px;
    height: 30px;
  }
  .menulist ul li a {
    font-size: 18px;
    margin-right: 0;
    border-bottom: none;
    padding: 0;
  }
  .menulist ul li a:hover,
  .menulist ul li.active a {
    color: #ea5413;
    background-color: #fff;
  }
  .menulist ul li.new a:after {
    content: "";
    width: 0;
    height: 0;
    background-color: #ea5413;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    padding: 3px;
    position: absolute;
    right: -6px;
  }
  .memberHeader .logo {
    padding: 10px;
    height: 80px;
  }
  .memberHeader .logo img {
    width: 60px;
  }
  .rightContainer {
    width: 100%;
  }
  .contentContainer .vipItem {
    padding: 15px;
  }
  .noticeItem .itemLeft {
    width: 100%;
  }
  .noticeItem .itemright {
    width: 100%;
    padding: 10px 0;
  }
  .menulist .slick-list {
    padding: 0 !important;
  }
  .table-responsive {
    border: none;
  }
  .login .footerDownBox.memberFooter {
    position: relative;
  }
  .loginbox {
    margin: 0;
  }
  .footerDownBox .footerDown {
    text-align: center;
  }
  .child-box {
    padding-top: 10px;
  }
  .mainmenu.fixed .content-section {
    margin-bottom: 250px;
  }
}
@media (max-width: 380px) {
  .socialmediaLogin .socialmedia .btn {
    margin: 0;
    padding: 10px 0px;
    width: 48%;
  }
  .loginbox ul {
    display: block;
  }
  .loginbox ul li {
    display: inline-block;
  }
  .menulist ul li {
    padding: 5px 5px;
  }
  .member h4 {
    font-size: 1em;
  }
  .menulist ul li a {
    font-size: 1em;
  }
  .member {
    width: 110px;
  }
  .menulist ul {
    width: calc(100% - 110px);
  }
}

.social-login {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

.social-login_link {
  box-sizing: border-box;
  text-decoration: none;
  border: 0px solid #dddddd;
  border-radius: 50%;
  width: 55px;
  height: 55px;
}

.social-login_link img {
  width: 100%;
  height: auto;
}

.input_mail {
  width: 100%;
  border: 1px solid #999999;
  padding: 10px 10px 10px 35px;
  border-radius: 5px;
  margin: 5px 0;
  background-image: url("../../img/mail.svg");
  background-repeat: no-repeat;
}

.input_lock {
  width: 100%;
  border: 1px solid #999999;
  padding: 10px 10px 10px 40px;
  border-radius: 5px;
  margin: 5px 0;
  background-image: url("../../img/lock.svg");
  background-repeat: no-repeat;
}

.account_shareicon {
  width: 50px;
  display: block;
}
.account_sharebox {
  display: block;
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
}

.back-btn {
  color: #111111;
  padding: 20px 0;
  display: table;
  margin: 0 auto;
  text-decoration: underline;
}

footer {
  border-top: 0px;
  background: #ea5413;
}

.footerDownBox {
  background: #ea5413;
  padding: 25px 0;
  text-align: center;
}

.footerDownBox .container {
  width: auto;
  max-width: 940px;
  padding: 0 10px;
}

.footerDownBox h2 a {
  color: #fafafa;
  margin: 0 0 10px 0;
  display: block;
}

.footerDown {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.footerDown li {
  display: inline-block;
  border-left: 1px solid #fafafa;
  margin: 5px 0;
}

.footerDown li:last-child {
  border-right: 1px solid #fafafa;
}

.footerDown li a {
  display: block;
  color: #fafafa;
  font-size: 0.9em;
  font-weight: normal;
  padding: 0px 8px;
  letter-spacing: -1px;
}

.footerDown li a:hover,
.footerDownBox h2 a:hover {
  color: #fff;
  text-shadow: 0 0 2px #fff;
}

.footerDownBox h5 {
  font-size: 0.9em;
  color: #f09f86;
  margin: 15px 0 0 0;
  line-height: 1.5;
}

.footerBox {
  padding: 40px 0 20px 0;
}

.footerBox .footerLeft {
  width: 180px;
  float: left;
}

.footerBox .footerRight {
  width: calc(100% - 180px);
  float: right;
  padding: 0 0 0 80px;
}

.footerRight .panel {
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: transparent;
  float: left;
  padding: 0 15px;
  margin: 0px !important;
}

.footerRight .panel:nth-of-type(1) {
  width: calc(33% - 50px);
}

.footerRight .panel:nth-of-type(2) {
  width: calc(33% - 50px);
}

.footerRight .panel:nth-of-type(3) {
  width: calc(33% - 50px);
}

.footerRight .panel:nth-of-type(4) {
  width: 150px;
}

.footerRight .panel-title {
  margin: 0 0 20px 0;
}

.footerRight .panel-title a {
  display: block;
  color: #000;
  font-weight: 500;
  font-size: 1.1em;
  white-space: nowrap;
}

.footerRight .panel-title i {
  color: #ea5413;
  margin: 0 10px 0 0;
}

.footerRight .panel-title span {
  display: none;
}

.footerRight .panel-body {
  padding: 0;
}

.footerRight .footerA {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footerRight .footerA li a {
  display: block;
  color: #777;
  margin: 15px 0;
}

.footerRight .footerA li a:hover {
  color: #ea5413;
}

.footerRight .footerA li i {
  margin: 0 15px 0 0;
  font-size: 1.2em;
}

.footerRight .panel-collapse {
  display: block;
  visibility: visible;
}

.footerBox .bigLogo,
.fixedHeader .footerBox .bigLogo {
  text-align: center;
}

.footerInfo {
  padding: 0;
  margin: 30px 0 0 0;
  list-style: none;
}

.footerInfo li a {
  display: block;
}

.footerInfo li a:hover {
  color: #333;
}

.footerInfo li,
.footerInfo li a {
  font-size: 0.9em;
  color: #777;
}

.footerInfo li {
  margin: 0 0 10px 0;
}

.footerBox .bigLogo,
.fixedHeader .footerBox .bigLogo {
  padding: 0;
}

.footerBox .bigLogo img,
.fixedHeader .footerBox .bigLogo img {
  width: 100%;
}

.line-login-btn {
  background-color: #07b53b;
  color: #fff;
  width: 266px;
  height: 40px;
  cursor: pointer;

  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.in-login,
.in-register {
  margin: 18px 8px 8px;
}

.in-forget {
  margin: -8px 0px 8px 10px;
}

.line-login-btn svg {
  width: 25px;
}

.line-login-btn span {
  flex-grow: 1;
  padding: 5px;
  margin-left: 43px;
}
