/* .waypoint {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background: #000;
}

@keyframes bg-move-top {
  0% {
    background-position: 0 top;
  }

  100% {
    background-position: -2000px top;
  }
}

@keyframes belt-move {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-900px);
  }
}

.tab-content {
  position: relative;
}

.tab-content > * {
  transition: all 0.15s ease;
  display: none;
}

.tab-content > *[data-te-tab-active] {
  display: block;
}

article h2 {
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 32px;
  line-height: 1.2;
  font-family: "kozuka-mincho-pr6n", serif;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 16px;
  margin-top: 32px;
  white-space: nowrap;
}

article h2::before {
  order: 2;
  display: block;
  content: "";
  min-width: 47px;
  width: 47px;
  height: 5px;
  background-size: contain;
  background-image: url(../assets/img/icon--colors.svg);
}

article h2::after {
  order: 1;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background: #e5e5e5;
}

article h2.is-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  margin-bottom: 32px;
}

article h2.is-center::before {
  order: unset;
}

article h2.is-center::after {
  display: none;
}

article h3 {
  font-size: 28px;
  line-height: 1.2;
  font-family: "kozuka-mincho-pr6n", serif;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 16px;
  margin-top: 32px;
}

article h4 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.2;
  font-family: "kozuka-mincho-pr6n", serif;
  font-weight: 500;
  font-style: normal;
}

article ul {
  padding-left: 24px;
  margin-bottom: 16px;
}

article ul li {
  list-style-type: disc;
}

article ol {
  margin-bottom: 16px;
  padding-left: 24px;
  list-style: decimal;
}

article p {
  max-width: 640px;
  margin: 0 auto 32px;
}

.section__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.section__title .text {
  max-width: 660px;
}

.section__title .title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  margin: 0 0 16px;
}

.section__title .title .icon {
  display: flex;
  width: 44px;
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
}

.section__title .title .icon > * {
  max-width: 100%;
}

.section__title .title h1 {
  font-size: 40px;
  font-family: "kozuka-mincho-pr6n", serif;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
  color: black;
  letter-spacing: 0.1em;
}

.card--article .pic {
  margin-bottom: 8px;
}

.card--article .caption .title {
  font-family: "kozuka-mincho-pr6n", serif;
  font-size: 20px;
  color: #0a45a7;
}

.card--article .caption .text {
  font-size: 16px;
}

.card--candidate--xs .pic > *,
.card--candidate--md .pic > * {
  width: 100%;
}

.card--candidate--xs .caption,
.card--candidate--md .caption {
  display: flex;
  align-items: center;
  gap: 4px;
}

.card--candidate--xs .caption .icon,
.card--candidate--md .caption .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  padding: 0;
  aspect-ratio: 1/1;
}

.card--candidate--xs .caption .icon > *,
.card--candidate--md .caption .icon > * {
  max-width: 100%;
}

.card--candidate--xs .caption .name,
.card--candidate--md .caption .name {
  font-family: "kozuka-mincho-pr6n", serif;
  font-weight: 500;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .card--candidate--xs .pic {
    max-width: 100%;
  }

  .card--candidate--xs .caption .icon {
    font-size: 16px;
  }

  .card--candidate--xs .caption .name {
    font-size: 14px;
  }
}

.card--candidate--md .caption {
  gap: 8px;
}

.card--candidate--md .caption .icon {
  width: 40px;
}

.card--candidate--md .caption .name {
  font-size: 28px;
}

.tab--candidate ul {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.tab--item {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  padding-bottom: 4px;
}

.tab--item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  display: block;
  content: "";
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.tab--item.is-kmt::after {
  background: #89a5d4;
}

.tab--item.is-tpp::after {
  background: #88bfb9;
}

.tab--item.is-independent::after {
  background: #c6c4d7;
}

.tab--item.is-dpp::after {
  background: #94cd86;
}

.tab--item .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  padding: 0;
  aspect-ratio: 1/1;
}

.tab--item .icon > * {
  max-width: 100%;
}

.tab--item .name {
  font-family: "kozuka-mincho-pr6n", serif;
  font-weight: 500;
  white-space: nowrap;
}

li[data-te-nav-active] .tab--item::after {
  opacity: 1;
}

blockquote {
  max-width: 640px;
  margin: 0 auto;
  padding: 16px 16px 24px;
  border: 1px solid #d8d8d8;
  color: #343434;
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
}

blockquote a[href] {
  border-bottom: 1px solid #343434;
}

blockquote strong {
  display: flex;
  align-items: center;
  font-size: 110%;
  gap: 8px;
  margin-bottom: 8px;
}

blockquote strong::before {
  display: block;
  content: "";
  width: 20px;
  height: 1px;
  background: #343434;
}

h1 {
  line-height: 1.2;
}

@media (max-width: 767px) {
  h1 {
    font-size: 28px;
  }
}

h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.player--screen {
  position: relative;
  padding-top: 24px;
}

.player--screen .title {
  position: absolute;
  top: 0;
  left: 8px;
  width: 100%;
  display: flex;
  margin-bottom: 8px;
}

.player--screen h3 {
  font-size: 14px;
  line-height: 1;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

main {
  width: 100%;
}

.container {
  position: relative;
  max-width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 980px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1300px;
  }
}

@media (min-width: 640px) {
  .container.is-slim {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container.is-slim {
    max-width: 720px;
  }
}

@media (min-width: 1024px) {
  .container.is-slim {
    max-width: 720px;
  }
}

@media (min-width: 1280px) {
  .container.is-slim {
    max-width: 720px;
  }
}

@media (min-width: 1536px) {
  .container.is-slim {
    max-width: 720px;
  }
}

section {
  padding: 40px 0;
}

.section--cover {
  position: relative;
  padding-top: 120px;
  padding-bottom: 0;
}

.section--cover .tt--wrapper {
  width: 765px;
  max-width: calc(100vw - 64px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 765/181;
}

.section--cover .tt {
  height: 100%;
  aspect-ratio: unset;
  background-size: cover;
  background-position: left center;
}

.section--cover .list--qlink {
  gap: 0;
}

@media (max-width: 1023px) {
  .section--cover {
    padding-bottom: 60px;
  }

  .section--cover .push--cover {
    height: calc(100vh - 120px - 200px - 200px - 200px - 200px - 60px);
  }

  .section--cover .tt {
    display: none;
  }

  .section--cover .list--qlink {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .section--cover .card--qlink {
    height: 200px;
    padding: 0 32px 0 64px;
  }

  .section--cover .card--qlink .pic {
    width: 200px;
  }

  .section--cover .card--qlink .pic > * {
    min-width: 200px;
    max-width: 200px;
  }

  .section--cover .card--qlink .caption {
    padding-top: 16px;
  }

  .section--cover .card--qlink .caption .name .ch {
    font-size: 40px;
  }

  .section--cover .card--qlink .caption .name .en {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .section--cover .push--cover {
    height: calc(100vh - 120px - 160px - 160px - 160px - 160px - 60px);
  }

  .section--cover .card--qlink {
    height: 160px;
    padding: 0 0 0 16px;
  }

  .section--cover .card--qlink .pic {
    width: 160px;
    padding: 0;
  }

  .section--cover .card--qlink .pic > * {
    min-width: unset;
    max-width: 140px;
  }

  .section--cover .card--qlink .caption .name .ch {
    font-size: 28px;
  }

  .section--cover .card--qlink .caption .name .en {
    font-size: 20px;
  }
}

.layout {
  display: grid;
  grid-template-columns: 50% 50%;
}

.layout .aside {
  position: relative;
  display: flex;
  justify-content: center;
  background: white;
}

.layout .aside::before {
  position: fixed;
  top: 120px;
  width: 50%;
  height: calc(100vh - 120px);
  content: "";
  display: block;
  background: linear-gradient(
    0,
    #003ea4 0%,
    #023fa4 25%,
    #0a45a7 39%,
    #1850ac 50%,
    #2b5fb3 59%,
    #4472bc 68%,
    #6489c7 76%,
    #89a5d4 83%,
    #b4c6e4 90%,
    #e3eaf5 97%,
    #ffffff 100%
  );
}

.layout .aside #CoverAnimationApp {
  position: fixed;
  width: 50%;
  height: 100%;
  overflow: hidden;
  opacity: 0.4;
}

.layout .aside img {
  position: sticky;
  z-index: 2;
  width: 100%;
  top: 120px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center bottom;
  object-position: center bottom;
  max-height: calc(100vh - 120px);
}

.layout .aside.is-tpp::before {
  background: linear-gradient(
    0,
    #21c5c6 0%,
    #23c5c6 26%,
    #2bc7c8 40%,
    #39cbcc 52%,
    #4cd0d1 62%,
    #65d7d7 71%,
    #85dfdf 79%,
    #aae8e9 87%,
    #d3f3f3 94%,
    #ffffff 100%
  );
}

.layout .aside.is-independent::before {
  background: linear-gradient(
    0,
    #58509e 0%,
    #5a529f 28%,
    #615aa3 43%,
    #6f68ab 56%,
    #817bb6 66%,
    #9994c4 76%,
    #b7b4d5 85%,
    #d9d8e9 93%,
    #ffffff 100%
  );
}

.layout .aside.is-dpp::before {
  background: linear-gradient(
    0,
    #1c9800 0%,
    #1e9802 25%,
    #259c0a 39%,
    #31a118 50%,
    #42a92b 59%,
    #59b344 68%,
    #75c064 76%,
    #96cf89 83%,
    #bce0b4 90%,
    #e6f3e3 97%,
    #ffffff 100%
  );
}

.layout .main {
  position: relative;
  z-index: 3;
  background: white;
}

@media (min-width: 640px) {
  .layout .main .container {
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .layout .main .container {
    max-width: 640px;
  }
}

@media (min-width: 1024px) {
  .layout .main .container {
    max-width: 490px;
  }
}

@media (min-width: 1280px) {
  .layout .main .container {
    max-width: 600px;
  }
}

@media (min-width: 1536px) {
  .layout .main .container {
    max-width: 680px;
  }
}

@media (max-width: 1023px) {
  .layout {
    display: flex;
    flex-direction: column;
  }

  .layout .aside {
    aspect-ratio: 4/3;
  }

  .layout .aside #CoverAnimationApp {
    position: fixed;
    width: 100%;
  }

  .layout .aside img {
    position: fixed;
    top: 80px;
  }

  .layout .aside::before {
    top: 0;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 767px) {
  .layout .aside {
    aspect-ratio: 3/4;
  }
}

.section--candidate {
  padding-top: 120px;
}

@media (max-width: 1023px) {
  .section--candidate {
    padding-top: 40px;
  }
}

@media (max-width: 767px) {
  .section--candidate {
    padding-top: 0;
  }

  .section--candidate .container:first-child {
    position: sticky;
    padding: 0;
    top: 70px;
    z-index: 3;
  }
}

.section--analysis,
.section--indicator {
  padding-top: 120px;
}

.bg--line {
  position: fixed;
  top: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.bg--line::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  min-width: 1600px;
  height: 600px;
  background-image: url(../img/player/bg--analysis__left.svg),
    url(../img/player/bg--analysis__right.svg);
  background-repeat: no-repeat;
  background-position:
    left 0,
    right 0;
  background-size: contain, contain;
}

@media (max-width: 1023px) {
  .bg--line::before {
    min-width: 1200px;
    height: 450px;
  }
}

@media (max-width: 767px) {
  .bg--line::before {
    min-width: 800px;
    height: 300px;
  }
} */

:root {
  --primary-500: #ea5514;
}

#PodcastPlayerApp audio {
  pointer-events: none;
  visibility: hidden;
  position: absolute;
  z-index: -1;
}

#PodcastPlayerApp h1 {
  text-align: left;
}

#PodcastPlayerApp img {
  max-width: 100%;
}

#PodcastPlayerApp ul li {
  list-style: none;
}

.list--podcast {
  width: 100%;
}

.list--podcast ul {
  margin-left: 32px;
}

.list--podcast ul li ul li {
  cursor: pointer;
}

.list--podcast ul li ul li:hover,
.list--podcast ul li ul li.is-active {
  background: #e8e8e8;
}

.process--slider {
  display: grid;
  align-items: center;
  gap: 8px;
  padding: 0 8px;
  grid-template-columns: 40px auto 40px;
  background: #343434;
}

.process--slider .label {
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  color: white;
}

@media (max-width: 767px) {
  .process--slider {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0;
    -moz-column-gap: 8px;
    column-gap: 8px;
  }

  .process--slider .vue-slider {
    order: 1;
    grid-column: span 2;
  }

  .process--slider .label {
    font-size: 12px;
    order: 2;
    grid-column: span 1;
  }

  .process--slider .label + .vue-slider + .label {
    order: 3;
    grid-column: span 1;
    text-align: right;
  }
}

.podcast--player {
  display: grid;
  grid-template-columns: auto 320px;
  margin: 0 auto;
  border: 1px solid #e8e8e8;
  background: #fcf2e2;
}

.podcast--player .player .player--playback .pic {
  background: #e8e8e8;
  aspect-ratio: 16/9;
}

.podcast--player .drawer {
  position: relative;
  background: white;
}

.podcast--player .drawer .scroll--content {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
}

@media (max-width: 768px) {
  .podcast--player {
    grid-template-columns: 1fr;
  }

  .podcast--player .drawer .scroll--content {
    position: relative;
    width: unset;
    height: unset;
  }
}

.player--monitor .bar {
  position: relative;
  background: #e8e8e8;
  height: 160px;
  width: 100%;
}

.player--monitor .bar .process {
  background: blue;
  height: 100%;
  width: 0;
}

.list--episodes {
  padding: 16px 8px;
}

.item--episode {
  position: relative;
  cursor: pointer;
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: flex-start;
  gap: 4px;
  padding: 8px 8px;
  line-height: 1.4;
  border: 1px solid transparent;
  border-bottom: 1px solid #e8e8e8;
}

.item--episode .icon {
  grid-column: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  min-width: 20px;
}

.item--episode .icon > * {
  width: 100%;
}

.item--episode:last-child {
  border-bottom: none;
}

.item--episode .icon {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  aspect-ratio: 1/1;
}

.item--episode .icon > * {
  width: 100%;
}

.item--episode span {
  grid-column: 2;
  display: block;
  padding-right: 8px;
}

.item--episode span.time {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  grid-row: 2;
  grid-column: 2;
  font-size: 14px;
  color: var(--primary-500);
}

.item--episode .played {
  font-size: 14px;
  color: var(--primary-500);
}

.item--episode.is-lock {
  opacity: 0.5;
}

.item--episode.is-active {
  background: #e8e8e8;
}

.item--episode:hover {
  border: 1px solid var(--primary-500);
}

.player--drawer {
  /* position: fixed; */
  z-index: 1000;
  width: 100%;
  /* left: 0;
  bottom: 0; */
  padding: 15px 0;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease;
  transform: translateY(0);
  backdrop-filter: blur(5px);
}

.player--drawer.is-hidden {
  transform: translateY(100%);
}

.player--drawer .player--screen .process--slider {
  background: transparent;
}

.player--drawer .container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 16px;
  align-items: center;
}

.player--drawer .item--control {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  aspect-ratio: 1/1;
  transition: all 0.2s ease;
  border-radius: 50%;
}

.player--drawer .item--control > .icon {
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  aspect-ratio: 1/1;
  transform: scale(1);
}

.player--drawer .item--control > .icon > * {
  width: 100%;
}

.player--drawer .item--control:hover > .icon {
  transform: scale(1.1);
}

.player--drawer .item--control.is-active {
  color: white;
  background: #cccccc;
}

@media (max-width: 767px) {
  .player--drawer .container {
    grid-template-columns: 1fr 40px;
    row-gap: 0;
    -moz-column-gap: 8px;
    column-gap: 8px;
  }

  .player--drawer .player--screen:nth-child(2) {
    order: 1;
    grid-column: span 2;
  }

  .player--drawer .player--controller:nth-child(1) {
    order: 2;
    grid-column: span 2;
  }

  .player--drawer .player--controller:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 0;
    order: 3;
    grid-column: span 1;
  }
}

.collapse--chapter {
  border-bottom: 1px solid #cccccc;
}

.collapse--chapter:last-child {
  border-bottom: none;
}

.collapse--chapter .bar {
  display: flex;
  cursor: pointer;
  gap: 4px;
  padding: 4px 12px;
}

.collapse--chapter .bar .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
}

.collapse--chapter .bar .icon > * {
  width: 100%;
}

.collapse--chapter .bar .icon > .icon__arrow {
  transition: all 0.2s ease;
  transform: rotate(90deg);
}

.collapse--chapter .bar[data-te-collapse-collapsed] .icon > .icon__arrow {
  transform: rotate(0);
}

.collapse--chapter .content {
  background: #f9f9f9;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1) inset;
}

.player--controller {
  display: flex;
  justify-content: center;
}

.player--controller ul {
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
}

.player--controller ul li {
  position: relative;
}

@media (max-width: 767px) {
  .player--controller ul {
    gap: 4px;
  }
}

.volume--slider {
  width: 80px;
  padding: 0 8px;
}

@media (max-width: 767px) {
  .volume--slider {
    width: 60px;
  }
}

.player--speed {
  position: absolute;
  z-index: 9;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100%;
  border-radius: 2px;
  overflow: hidden;
}

.player--speed ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 0;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

.player--speed ul li {
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  width: 100%;
  padding: 8px;
  transition: all 0.2s ease;
  color: #343434;
  background: #e8e8e8;
  border: 1px solid #d8d8d8;
}

.player--speed ul li:last-child {
  border-bottom: none;
}

.player--speed ul li:hover {
  color: #343434;
  background: #d8d8d8;
  border: 1px solid var(--junior-primary-50);
}

.player--speed ul li.is-active {
  color: white;
  background: #343434;
  pointer-events: none;
  border: 1px solid #343434;
}

.icon__volume {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10%;
  width: 24px !important;
  aspect-ratio: 1/1;
}

.icon__volume > span {
  display: block;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  width: 20%;
}

.icon__volume > span.is-active {
  background: rgba(255, 255, 255, 0.8);
}

.icon__volume > span:nth-child(1) {
  height: 40%;
}

.icon__volume > span:nth-child(2) {
  height: 55%;
}

.icon__volume > span:nth-child(3) {
  height: 70%;
}

.icon__volume > span:nth-child(4) {
  height: 85%;
}

.icon__volume > span:nth-child(5) {
  height: 100%;
}

.button--sm {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 100%;
  background: var(--primary-500);
}

.button--sm > .label {
  font-size: 16px;
  color: white;
}

.button--sm.is-invert {
  background: #cdcdcd;
}

.button--sm.is-invert > .label {
  color: #121212;
}

.modal.ts-modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1090;
  width: 100%;
  height: 100%;
  display: unset;
  overflow: hidden;
}

.modal.ts-modal > * {
  box-sizing: border-box;
}

.modal.ts-modal.hidden {
  display: none;
}

.modal.ts-modal .modal-dialog {
  position: relative;
  transition: all 0.3s ease;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 16px;
}

.modal.ts-modal .modal-content {
  border-radius: 0;
  position: relative;
  width: 100%;
  max-width: 1240px;
  background: unset;
  border: unset;
  margin: 0 auto;
}

.modal.ts-modal .toggle--modal {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 8;
  cursor: pointer;
}

.modal.ts-modal .container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024px) {
  .modal.ts-modal .container {
    max-width: 960px;
  }
}

@media (min-width: 1280px) {
  .modal.ts-modal .container {
    max-width: 1120px;
  }
}

@media (min-width: 1536px) {
  .modal.ts-modal .container {
    max-width: 1240px;
  }
}

.card--alert {
  border-radius: 8px;
  overflow: hidden;
}

.card--alert .hd {
  background: var(--primary-500);
}

.card--alert .hd .icon {
  width: 40px;
  aspect-ratio: 1/1;
}

.card--alert .bd {
  background: #fff;
  padding: 16px 32px 32px;
}

.card--alert .bd .title {
  text-align: center;
  margin-bottom: 16px;
}

.card--alert .buttons {
  display: flex;
  gap: 16px;
}

@media (max-width: 767px) {
  .card--alert .buttons {
    flex-direction: column;
    gap: 8px;
  }

  .card--alert .buttons button {
    width: 100%;
  }
}

.wave--top:after {
  animation: bg-move-top 11s linear infinite;
}

@media (max-width: 767px) {
  .wave--top {
    animation: bg-move-mobile 11s linear infinite;
  }
}

.fade-enter-active,
.fade-leave-active {
  position: relative;
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  position: absolute;
  opacity: 0;
}

.belt--recommend .wrapper {
  position: relative;
  animation: belt-move 20s linear infinite;
}

.backward {
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  max-width: 100%;
  background-image: url("../img/player/backward.svg");
  width: 14px;
  height: auto;
  aspect-ratio: 28/28;
}

.forward {
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  max-width: 100%;
  background-image: url("../img/player/forward.svg");
  width: 14px;
  height: auto;
  aspect-ratio: 28/28;
}

.icon__arrow {
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  max-width: 100%;
  background-image: url("../img/player/icon__arrow.svg");
  width: 50px;
  height: auto;
  aspect-ratio: 100/100;
}

.icon__check {
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  max-width: 100%;
  background-image: url("../img/player/icon__check.svg");
  width: 50px;
  height: auto;
  aspect-ratio: 100/100;
}

.icon__demo {
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  max-width: 100%;
  background-image: url("../img/player/icon__demo.svg");
  width: 50px;
  height: auto;
  aspect-ratio: 100/100;
}

.icon__free {
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  max-width: 100%;
  background-image: url("../img/player/icon__free.svg");
  width: 37.5px;
  height: auto;
  aspect-ratio: 75/38;
}

.icon__lock {
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  max-width: 100%;
  background-image: url("../img/player/icon__lock.svg");
  width: 50px;
  height: auto;
  aspect-ratio: 100/100;
}

.icon__more {
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  max-width: 100%;
  background-image: url("../img/player/icon__more.svg");
  width: 50px;
  height: auto;
  aspect-ratio: 100/100;
}

.icon__next {
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  max-width: 100%;
  background-image: url("../img/player/icon__next.svg");
  width: 50px;
  height: auto;
  aspect-ratio: 100/100;
}

.icon__next__10sec {
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  max-width: 100%;
  background-image: url("../img/player/icon__next__10sec.svg");
  width: 50px;
  height: auto;
  aspect-ratio: 100/100;
}

.icon__pause {
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  max-width: 100%;
  background-image: url("../img/player/icon__pause.svg");
  width: 50px;
  height: auto;
  aspect-ratio: 100/100;
}

.icon__play {
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  max-width: 100%;
  background-image: url("../img/player/icon__play.svg");
  width: 50px;
  height: auto;
  aspect-ratio: 100/100;
}

.icon__prev {
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  max-width: 100%;
  background-image: url("../img/player/icon__prev.svg");
  width: 50px;
  height: auto;
  aspect-ratio: 100/100;
}

.icon__prev__10sec {
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  max-width: 100%;
  background-image: url("../img/player/icon__prev__10sec.svg");
  width: 50px;
  height: auto;
  aspect-ratio: 100/100;
}

.lock {
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  max-width: 100%;
  background-image: url("../img/player/lock.svg");
  width: 14px;
  height: auto;
  aspect-ratio: 28/28;
}

.pause {
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  max-width: 100%;
  background-image: url("../img/player/pause.svg");
  width: 14px;
  height: auto;
  aspect-ratio: 28/28;
}

.pause_circle {
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  max-width: 100%;
  background-image: url("../img/player/pause_circle.svg");
  width: 14px;
  height: auto;
  aspect-ratio: 28/28;
}

.play {
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  max-width: 100%;
  background-image: url("../img/player/play.svg");
  width: 14px;
  height: auto;
  aspect-ratio: 28/28;
}

.speaker {
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  max-width: 100%;
  background-image: url("../img/player/speaker.svg");
  width: 14px;
  height: auto;
  aspect-ratio: 28/28;
}

.speaker_slash {
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  max-width: 100%;
  background-image: url("../img/player/speaker_slash.svg");
  width: 14px;
  height: auto;
  aspect-ratio: 28/28;
}

.speaker_wave_1 {
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  max-width: 100%;
  background-image: url("../img/player/speaker_wave_1.svg");
  width: 14px;
  height: auto;
  aspect-ratio: 28/28;
}

.speaker_wave_2 {
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  max-width: 100%;
  background-image: url("../img/player/speaker_wave_2.svg");
  width: 14px;
  height: auto;
  aspect-ratio: 28/28;
}

.speaker_wave_3 {
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  max-width: 100%;
  background-image: url("../img/player/speaker_wave_3.svg");
  width: 14px;
  height: auto;
  aspect-ratio: 28/28;
}

.timer {
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  max-width: 100%;
  background-image: url("../img/player/timer.svg");
  width: 14px;
  height: auto;
  aspect-ratio: 28/28;
}

/* import theme style */
/* component style */
.vue-slider-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* rail style */
.vue-slider-rail {
  background-color: #ccc;
  border-radius: 15px;
}

/* process style */
.vue-slider-process {
  background-color: #3498db;
  border-radius: 15px;
}

/* mark style */
.vue-slider-mark {
  z-index: 4;
}

.vue-slider-mark:first-child .vue-slider-mark-step,
.vue-slider-mark:last-child .vue-slider-mark-step {
  display: none;
}

.vue-slider-mark-step {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.16);
}

.vue-slider-mark-label {
  font-size: 14px;
  white-space: nowrap;
}

/* dot style */
.vue-slider-dot-handle {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.32);
}

.vue-slider-dot-handle-focus {
  box-shadow: 0px 0px 1px 2px rgba(52, 152, 219, 0.36);
}

.vue-slider-dot-handle-disabled {
  cursor: not-allowed;
  background-color: #ccc;
}

.vue-slider-dot-tooltip-inner {
  font-size: 14px;
  white-space: nowrap;
  padding: 2px 5px;
  min-width: 20px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  border-color: #3498db;
  background-color: #3498db;
  box-sizing: content-box;
}

.vue-slider-dot-tooltip-inner::after {
  content: "";
  position: absolute;
}

.vue-slider-dot-tooltip-inner-top::after {
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-top-color: inherit;
}

.vue-slider-dot-tooltip-inner-bottom::after {
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-bottom-color: inherit;
}

.vue-slider-dot-tooltip-inner-left::after {
  left: 100%;
  top: 50%;
  transform: translate(0, -50%);
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-left-color: inherit;
}

.vue-slider-dot-tooltip-inner-right::after {
  right: 100%;
  top: 50%;
  transform: translate(0, -50%);
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-right-color: inherit;
}

.vue-slider-dot-tooltip-wrapper {
  opacity: 0;
  transition: all 0.3s;
}

.vue-slider-dot-tooltip-wrapper-show {
  opacity: 1;
}

.vue-slider-rail {
  cursor: pointer;
  background: #c9caca;
}

.vue-slider-process,
.vue-slider-dot-handle {
  background: var(--primary-500);
  box-shadow: none;
}

.footer .collapse,
.faq_pan .collapse {
  visibility: unset;
}
