@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --junior-primary-50: #e8f9ff;
  --junior-primary-100: #ddf7ff;
  --junior-primary-200: rgb(138, 212, 237);
  --junior-primary-300: #69caea;
  --junior-primary-400: rgb(79, 195, 234);
  --junior-primary-500: #00a7de;
  --junior-primary-600: #1790b9;
  --junior-primary-700: #006d91;
  --junior-primary-800: #00546f;
  --junior-primary-900: #233034;

  --youth-primary-50: #eff6ef;
  --youth-primary-100: #cfe0a5;
  --youth-primary-200: #b7c989;
  --youth-primary-300: hsl(90, 56%, 61%);
  --youth-primary-400: #a1d533;
  --youth-primary-500: #90c31f;
  --youth-primary-600: #44842d;
  --youth-primary-700: #1b5d03;
  --youth-primary-800: #1f4f0d;
  --youth-primary-900: #002702;

  --home-primary-500: #e95513;

  --gray2-50: #f7f7f7;
  --gray2-100: #dbdcdc;
  --gray2-200: #c8c9ca;
  --gray2-300: #b4b4b5;
  --gray2-400: #939393;
  --gray2-500: #888888;
  --gray2-600: #595757;
  --gray2-700: #3e3a39;
  --gray2-800: #3e3a39;
  --gray2-900: #231815;
}

body.menu-open {
  overflow: hidden;
}

html {
  font-size: inherit;
}

#menuContainer {
  transform: translateX(-100%);
  opacity: 0;
}
