@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --junior-primary-50: #e8f9ff;
  --junior-primary-100: #ddf7ff;
  --junior-primary-200: rgb(138, 212, 237);
  --junior-primary-300: #69caea;
  --junior-primary-400: rgb(79, 195, 234);
  --junior-primary-500: #00a7de;
  --junior-primary-600: #1790b9;
  --junior-primary-700: #006d91;
  --junior-primary-800: #00546f;
  --junior-primary-900: #233034;

  --youth-primary-50: #eff6ef;
  --youth-primary-100: #cfe0a5;
  --youth-primary-200: #b7c989;
  --youth-primary-300: hsl(90, 56%, 61%);
  --youth-primary-400: #a1d533;
  --youth-primary-500: #90c31f;
  --youth-primary-600: #44842d;
  --youth-primary-700: #1b5d03;
  --youth-primary-800: #1f4f0d;
  --youth-primary-900: #002702;

  --gray-100: #f7f7f7;
  --gray-200: #dbdcdc;
  --gray-300: #c8c9ca;
  --gray-400: #b4b4b5;
  --gray-500: #939393;
  --gray-600: #888888;
  --gray-700: #595757;
  --gray-800: #3e3a39;
  --gray-900: #231815;

  --secondary-500: #e95513;
  --secondary-600: #bd3c00;
}

::-webkit-scrollbar {
  background-color: #838383;
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray2-300);
  border-radius: 15px;
}

::-webkit-scrollbar-button {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  overflow-x: hidden;
  &.menu-open {
    overflow: hidden;
  }
}

html {
  font-size: inherit;
}

#menuContainer {
  transform: translateX(-100%);
  opacity: 0;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
}
