@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --junior-primary-50: #e8f9ff;
  --junior-primary-100: #ddf7ff;
  --junior-primary-200: rgb(138, 212, 237);
  --junior-primary-300: #69caea;
  --junior-primary-400: rgb(79, 195, 234);
  --junior-primary-500: #00a7de;
  --junior-primary-600: #1790b9;
  --junior-primary-700: #006d91;
  --junior-primary-800: #00546f;
  --junior-primary-900: #233034;

  --youth-primary-50: #eff6ef;
  --youth-primary-100: #cfe0a5;
  --youth-primary-200: #b7c989;
  --youth-primary-300: hsl(90, 56%, 61%);
  --youth-primary-400: #a1d533;
  --youth-primary-500: #90c31f;
  --youth-primary-600: #44842d;
  --youth-primary-700: #1b5d03;
  --youth-primary-800: #1f4f0d;
  --youth-primary-900: #002702;

  --swiper-navigation-size: 20px !important;
  --swiper-navigation-color: #fff !important;
  --swiper-pagination-color: var(--junior-primary-500) !important;
}

html {
  font-size: inherit;
}

#menuContainer {
  transform: translateX(-100%);
}