.logoBox a {
  display: inline-block;
  margin-left: auto;
}

.tabList h5 {
  font-weight: 500;
}

.magazineList li img {
  margin: auto;
}

.infoItem .infoData {
  width: 100%;
}

.musicList ol li {
  width: 100%;
}

.musicList li ol {
  gap: 8px;
  bottom: inherit;
}

.musicList ol li a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 150px;
  margin: auto;
}

.searchbox-list {
  margin: 50px 0 0 0;
}
.relative-list {
  display: flex;
  gap: 2rem;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
}

.relative-list-col {
  flex-direction: column;
}

.relative-list img {
  max-width: 28px !important;
}

.hpBtn li {
  margin: 0;
}

.infoItem {
  overflow: inherit;
}

/* 兒童 */
.child .hpBtn li:nth-child(2) a {
  background: url(../img/hpBtn_child02.png);
  background-size: contain;
}

.child .hpBtn li:nth-child(2) a:hover {
  background: url(../img/hpBtn_child02_hover.png);
  background-size: contain;
}

.child .hpBtn li:nth-child(4) a {
  background: url(../img/hpBtn_child04.png);
  background-size: contain;
}

.child .hpBtn li:nth-child(4) a:hover {
  background: url(../img/hpBtn_child04_hover.png);
  background-size: contain;
}

/* 少年 */
.hpBtn li:nth-child(2) a {
  background: url("../img/hpBtn_young02.png");
  background-size: contain;
}

.hpBtn li:nth-child(2) a:hover {
  background: url("../img/hpBtn_young02_hover.png");
  background-size: contain;
}

.hpBtn li:nth-child(3) a {
  background: url("../img/hpBtn_young03.png");
  background-size: contain;
}

.hpBtn li:nth-child(3) a:hover {
  background: url("../img/hpBtn_young03_hover.png");
  background-size: contain;
}

.hpBtn li:nth-child(4) a {
  background: url("../img/hpBtn_young04.png");
  background-size: contain;
}

.hpBtn li:nth-child(4) a:hover {
  background: url("../img/hpBtn_young04_hover.png");
  background-size: contain;
}

.young ul li a:hover,
.young .linkBox ul li.active a {
  color: #395f00;
}
.young .musicList ol li a {
  border-color: #90c31f;
}

.young .musicList ol li a:hover {
  background: rgb(245 255 202);
}

.young .linkBox ul li.active a:before {
  background: #b2c31f4f;
}

.infoItem {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.infoItem .infoData {
  float: unset;
}
@media (max-width: 767px) {
  .infoItem {
    gap: 0px;
    flex-wrap: wrap;
  }
  .relative-list {
    gap: 10px;
    flex-grow: 1;
    /* justify-content: end; */
  }
  .child .musicList {
    row-gap: 10px;
  }
}

@media (max-width: 991px) {
  .musicList li ol {
    flex-wrap: wrap;
  }
}

button:focus,
select:focus,
option:hover,
.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}
